<div class="footer-main border-bottom">
					<div class="container">
						<div class="row">
							<div class="col-xl-3 col-lg-6 col-md-12">
								
								<h6 class="mb-2 mt-6">CONTACT</h6>
								<ul class="social-icons mb-0 mt-3">
									<li>
										<a class="social-icon" href=""><i class="fa fa-facebook text-white-50"></i></a>
									</li>
									
									<li>
										<a class="social-icon" href=""><i class="fa fa-linkedin text-white-50"></i></a>
									</li>
								</ul>
							</div>
						
							<div class="col-xl-4 col-lg-6 col-md-12">
								<h6 class="mt-6 mt-xl-0">BUSINESS MEUBLES CONTACT</h6>
								<ul class="list-unstyled mb-0">
									<li>
										<a href="javascript:void(0);" class="footer-icon-circle"><i class="fe fe-home me-3 text-white-50"></i> Immeuble Ennassim Montplaisir Tunis
										</a>
									</li>
									<li>
										<a href="javascript:void(0);" class="footer-icon-circle"><i class="fe fe-mail me-3 fs-12 text-white-50"></i> business-meubles@outlook.fr</a>
									</li>
									
									<li>
										<a href="javascript:void(0);" class="footer-icon-circle"><i class="fe fe-phone me-3 text-white-50"></i> +000 00 000 000 / +000 00 000 000</a>
									</li>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="bg-dark-purple text-white-50 p-3"style=" background-color: #9d7153 !important	;">
					<div class="container">
						<div class="row d-flex">
							<div class="col-lg-6 col-sm-12 mt-2 mb-2"style="color: #000 !important	;">
								 BUSINESS MEUBLES , Tous les droits sont réservés ,
								 Conçu par BUSINESS PLUS
							</div>
							
						</div>
					</div>
				</div>