<div class="container">
				<div class="section-title">
	
					<h2>A <span class="font-weight-semibold2">LA </span> UNE</h2>
					
				</div>
				<div id="myCarousel1" class="owl-carousel owl-carousel-icons2">
					<div class="item">
						<div class="card mb-0 overflow-hidden">
							
							<div class="item-card2-img m-0">
								<a href="Détails-annonce.html"></a>
								<img src=" {{asset('../assets/images/products/category/9.jpg')}}" alt="img" class="cover-image">
							</div>
							
							<div class="card-body">
								<div class="item-card2">
									<div class="item-card2-text">
										<a href="Détails-annonce.html" class="text-dark"><h5 class="font-weight-semibold2">Chaise De Bureau</h5></a>
									</div>
									<div class="d-sm-flex mt-3 pb-4 mb-4 border-bottom">
										<h5 class="font-weight-bold mb-0 fs-18">965 <span class="fs-12 font-weight-normal"> / DT</span></h5>
										<div class="d-inline-flex ms-auto align-items-center">
											<div class="rating-star sm block my-rating-5 mb-1" data-stars="2s">
											</div>
										</div>
									</div>
									<ul class="item-card2-list">
										<li class="w-100 mb-2 mt-2"><a href="javascript:void(0);" class="d-block"><i class="fe fe-map-pin text-primary me-1"></i>  Tunis </a></li>
							
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-0 overflow-hidden">
							<div class="item-card2-img m-0">
								<a href="Détails-annonce.html"></a>
								<img src=" {{asset('../assets/images/products/category/8.jpg')}}" alt="img" class="cover-image">
							</div>
							
							<div class="card-body">
								<div class="item-card2">
									<div class="item-card2-text">
										<a href="Détails-annonce.html" class="text-dark"><h5 class="font-weight-semibold2">Chambre enfant ENZO</h5></a>
									</div>
									<div class="d-sm-flex mt-3 pb-4 mb-4 border-bottom">
										<h5 class="font-weight-bold mb-0 fs-18">985 <span class="fs-12 font-weight-normal"> / DT</span></h5>
										<div class="d-inline-flex ms-auto align-items-center">
											<div class="rating-star sm block my-rating-5 mb-1" data-stars="2s">
											</div>
										</div>
									</div>
									<ul class="item-card2-list">
										<li class="w-100 mb-2 mt-2"><a href="javascript:void(0);"><i class="fe fe-map-pin text-primary me-1"></i> Tunis</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-0 overflow-hidden">
							<div class="item-card2-img m-0">
								<a href="Détails-annonce.html"></a>
								<img src=" {{asset('../assets/images/products/category/10.jpg')}}" alt="img" class="cover-image">
							</div>
							
							<div class="card-body">
								<div class="item-card2">
									<div class="item-card2-text">
										<a href="Détails-annonce.html" class="text-dark"><h5 class="font-weight-semibold2"> Meuble TV Palermo</h5></a>
									</div>
									<div class="d-sm-flex mt-3 pb-4 mb-4 border-bottom">
										<h5 class="font-weight-bold mb-0 fs-18">1200 <span class="fs-12 font-weight-normal"> / DT</span></h5>
										<div class="d-inline-flex ms-auto align-items-center">
											<div class="rating-star sm block my-rating-5 mb-1" data-stars="2s">
											</div>
										</div>
									</div>
									<ul class="item-card2-list">
										<li class="w-100 mb-2 mt-2"><a href="javascript:void(0);"><i class="fe fe-map-pin text-primary me-1"></i> Tunis</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-0 overflow-hidden">
						
							<div class="item-card2-img m-0">
								<a href="Détails-annonce.html"></a>
								<img src=" {{asset('../assets/images/products/category/5.jpg')}}" alt="img" class="cover-image">
							</div>
							
							<div class="card-body">
								<div class="item-card2">
									<div class="item-card2-text">
										<a href="Détails-annonce.html" class="text-dark"><h5 class="font-weight-semibold2">Fauteuil de jardin</h5></a>
									</div>
									<div class="d-sm-flex mt-3 pb-4 mb-4 border-bottom">
										<h5 class="font-weight-bold mb-0 fs-18">724 <span class="fs-12 font-weight-normal"> / DT</span></h5>
										<div class="d-inline-flex ms-auto align-items-center">
											<div class="rating-star sm block my-rating-5 mb-1" data-stars="2s">
											</div>
										</div>
									</div>
									<ul class="item-card2-list">
										<li class="w-100 mb-2 mt-2"><a href="javascript:void(0);"><i class="fe fe-map-pin text-primary me-1"></i> Tunis</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>


					<div class="item">
						<div class="card mb-0 overflow-hidden">
						
							<div class="item-card2-img m-0">
								<a href="Détails-annonce.html"></a>
								<img src="../assets/images/products/category/8.jpg" alt="img" class="cover-image">
							</div>
							
							<div class="card-body">
								<div class="item-card2">
									<div class="item-card2-text">
										<a href="Détails-annonce.html" class="text-dark"><h5 class="font-weight-semibold2">Fauteuil de jardin</h5></a>
									</div>
									<div class="d-sm-flex mt-3 pb-4 mb-4 border-bottom">
										<h5 class="font-weight-bold mb-0 fs-18">724 <span class="fs-12 font-weight-normal"> / DT</span></h5>
										<div class="d-inline-flex ms-auto align-items-center">
											<div class="rating-star sm block my-rating-5 mb-1" data-stars="2s">
											</div>
										</div>
									</div>
									<ul class="item-card2-list">
										<li class="w-100 mb-2 mt-2"><a href="javascript:void(0);"><i class="fe fe-map-pin text-primary me-1"></i> Tunis</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
                </div>